<ion-button id="open-modal-unit">
  <ion-icon name="duplicate-sharp"></ion-icon>Agregar tarea
</ion-button>
<ion-modal trigger="open-modal-unit" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Administrador de tareas</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="addTarea()" [strong]="true"
            >Confirmar</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Ingresa el nombre</ion-label>
        <ion-input
          type="text"
          placeholder="Nombre"
          [(ngModel)]="nombre"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripcion</ion-label>
        <ion-input
          type="text"
          placeholder="Descripcion"
          [(ngModel)]="descripcion"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de inicio</ion-label>
        <ion-datetime
          [(ngModel)]="fechaInicio"
          [isDateEnabled]="isWeekday"
          value="{{ minDate | date: 'yyyy-MM-dd' }}"
          min="{{ minDate | date: 'yyyy-MM-dd' }}"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de termino</ion-label>
        <ion-datetime
          [(ngModel)]="fechaTermino"
          [isDateEnabled]="isWeekday"
          value="{{ minDate | date: 'yyyy-MM-dd' }}"
          min="{{ minDate | date: 'yyyy-MM-dd' }}"
        ></ion-datetime>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select
            [compareWith]="compareWith"
            placeholder="Selecciona un responsable"
            (ionChange)="handleChange($event)"
          >
            <ion-select-option *ngFor="let user of funcList" [value]="user">{{ user.nombre_completo }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Current value: {{ currentSelectedUser | json}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
