<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Control de tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="name" type="text" placeholder="Nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="email" type="email" placeholder="Correo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="confirm_password"
          type="password"
          placeholder="Confirmar contraseña"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" fill="outline" (click)="iniciarSesion()"
        >Iniciar Sesión</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
