ion-card {
  width: 50%;
  margin: 10% auto;
}

ion-card-content {
  // media querys para disposivitos segun width
  @media only screen // Galaxy
  and (device-width: 360px) 
  and (device-height: 640px) {

    ion-item {
      background-color: aqua;
    }
}

}

ion-button {
  margin:auto;
  @media screen {
    width: fit-content;
    margin-top: 20px;
  }
}
