/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

ion-card-subtitle {
  margin: 2px;
}

ion-card {
  width: fit-content;
}

ion-button {
  width: fit-content;
}

.grid-tareas{
  width: fit-content;
}
ion-card {
  border-radius: 10px;
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  width: auto;
}
.logged-user-card{
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}
.lista-tareas {
  width: fit-content;
  margin: auto;
}