/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

ion-card-subtitle {
  margin: 2px;
}

ion-card {
  width: fit-content;
}

ion-button {
  width: fit-content;
}


ion-card {
  border-radius: 10px;
  -webkit-box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  width: fit-content;
}
.logged-user-card{
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}

.acciones{
  width: fit-content;
  margin: 0auto -10px 0;
}

.lista-tareas{
  width: fit-content;
  margin: 0 auto;
}

.second-row-margin-top{
  margin-top: 50px;
}
