<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="logout()" color="danger" fill="solid" class="ion-margin">
          <ion-icon name="power-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Bienvenido {{loggedUser.nombre}}!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">

    <ion-segment class="ion-margin">Panel de administrador</ion-segment>
    <ion-grid size="4">
      <ion-row class="ion-margin">
        <ion-col size="6" size-md="4" size-sm="3" size-xs="auto">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-card-title>{{loggedUser.nombre}} {{loggedUser.apellido}}</ion-card-title>
              </ion-card-subtitle>
              <div class="ion-padding">{{loggedUser.roles[0]?.nombre}}</div>
              <div class="ion-padding">{{loggedUser.unidad.nombre}}</div>
              <div class="ion-padding">{{loggedUser.unidad.empresa.nombre}}</div>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="2" size-sm="4" size-xs="auto">
          <ion-list class="acciones">
            <h5 class="ion-text-center">Acciones</h5>
            <ion-item>
              <app-modal></app-modal>
            </ion-item>
            <ion-item>
              <app-modal-unidad></app-modal-unidad>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6" size-md="4" size-sm="4" size-xs="auto">
          <ion-list class="lista-tareas">
            <ion-item>
              <ion-label>Tareas rechazadas: {{declinedTaskCount}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tareas terminadas: {{completedTaskCOunt}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tareas a tiempo: {{validTaskCount}} <div class="green-circle"></div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tareas con menos de 7 dias: {{alertTaskCount}} <div class="yellow-circle"></div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tareas atrasadas: {{expiredTaskCount}} <div class="red-circle"></div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-button (click)="generatePDF()">Ver informe PDF <ion-icon name="document-sharp"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-col size="6" size-md="3" size-sm="2" size-xs="auto" *ngFor="let flows of flujos">
          <ion-card class="ion-padding ion-margin flujos">
            <ion-card-title>
              {{flows.nombre}}
            </ion-card-title>
            <ion-card-subtitle>{{flows.descripcion}}</ion-card-subtitle>
            <ion-card-content>
              <ng-container *ngFor="let tareas of flows.tareas">
                <h2>{{tareas.nombre}}</h2>
                <h3>{{tareas.descripcion}}</h3>
              </ng-container>
            </ion-card-content>

            <ion-button (click)="execFlow()" size="small"> Ejecutar Flujo <ion-icon name="power-sharp">
              </ion-icon>
            </ion-button>
            <ion-button (click)="deleteFlow()" color="danger" size="small">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top second-row-margin-top">
        <ion-segment>Usuarios</ion-segment>
        <ion-label class="ion-text-center"></ion-label>
        <ion-col size="4" size-md="4" size-sm="4" size-xs="auto" *ngFor="let users of userList">
          <ion-card class="ion-margin ion-padding">
            <ion-card-header class="ion-margin ion-padding">
              <ion-card-title>{{users.nombre + ' ' + users.apellido}}</ion-card-title>
              <ion-card-subtitle>{{users.roles[0]?.nombre}}</ion-card-subtitle>
              <ion-card-subtitle>{{users.email}}</ion-card-subtitle>
              <ion-card-subtitle>Empresa: {{users.unidad.empresa.nombre}}</ion-card-subtitle>
              <ion-card-subtitle>Unidad: {{users.unidad.nombre}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> </ion-card-content>
            <ion-button class="ion-margin" color="danger" (click)="deleteUser(users.id)">
              <ion-icon name="person-remove-sharp" class="ion-padding"></ion-icon>
            </ion-button>
            <ion-button class="ion-margin" (click)="tasksByUser(users.id); setOpen(true)">Ver tareas asignadas
            </ion-button>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Tareas asignadas</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpen(false)">Cerrar</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding ion-margin">
                  <ion-card class="tareas-modal ion-margin ion-padding" *ngFor="let tasks of userTasks">
                    <ion-card-title>{{tasks.nombre}}</ion-card-title>
                    <ion-card-subtitle>{{tasks.descripcion}}</ion-card-subtitle>
                    <ion-card-subtitle>Fecha creacion:
                      {{tasks.fechaCreacion.slice(0,10) + ' hora: ' +
                      tasks.fechaCreacion.slice(11,16)}}</ion-card-subtitle>
                    <ion-card-subtitle>Fecha de inicio{{tasks.fechaInicio.slice(0,10) + ' hora: ' +
                      tasks.fechaInicio.slice(11,16)}}</ion-card-subtitle>
                    <ion-card-subtitle>Fecha de termino: {{tasks.fechaTermino.slice(0,10) + ' hora: ' +
                      tasks.fechaTermino.slice(11,16)}}</ion-card-subtitle>
                    <h5 *ngIf="tasks.estado.nombre?.length > 1">Estado: {{tasks.estado.descripcion}}</h5>
                    <div class="red-circle" *ngIf="tasks.estado.id === 3"></div>
                    <div class="yellow-circle" *ngIf="tasks.estado.id === 2"></div>
                    <div class="green-circle" *ngIf="tasks.estado.id === 1"></div>
                    <h3 *ngIf="tasks.justificacion?.length > 1"> Justificacion: {{tasks.justificacion}}</h3>
                  </ion-card>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-sm="3" size-xs="auto">
          <ion-card class="ion-margin ion-justify-content-center">
            <ng-container *ngFor="let units of unitList">
              <ion-card-header>
                <ion-card-title>{{units.nombre}}</ion-card-title>
                <ion-card-subtitle>{{units.descripcion}}</ion-card-subtitle>
                <ion-card-subtitle>Funcion: {{units.funcion}}</ion-card-subtitle>
              </ion-card-header>
            </ng-container>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>