<ion-header>
  <ion-toolbar>
    <ion-title size="small">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="email" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <ion-input [(ngModel)]="confirm_password" type="text" required></ion-input>
  </ion-item>

  <ion-button color="dark" expand="block" fill="outline" (click)="onSubmit()">Login</ion-button>
</ion-content>
