<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>¡Bienvenido, {{user.nombre}}! </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger" fill="solid">Cerrar session</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="logged-user-card">
    <ion-card-title>
      {{user.nombre + ' ' + user.apellido}}
    </ion-card-title>
    <ion-card-content>
      <h3>{{user.roles[0]?.nombre}}</h3>
      <h3>{{user.unidad.empresa.nombre}}</h3>
      <h3>{{user.unidad.nombre}}</h3>
    </ion-card-content>
    <ion-button size="small">
      <ion-icon name="pencil-sharp"></ion-icon>
    </ion-button>
    <div class="ion-margin">
      <app-modal-tarea></app-modal-tarea>
    </div>
  </ion-card>

  <ng-container>
    <ion-grid>
      <ion-row>
        <ion-col size="4" size-md="3" size-lg="4" *ngFor="let tasks of tasksUser">
          <ion-card (click)="getTareaID(tasks.id)">
            <ion-card-header>
              <ion-card-title>
                Nombre: {{tasks.nombre}}
              </ion-card-title>
              <ion-card-subtitle>
                Descripcion: {{tasks.descripcion}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <h3>Fecha de inicio: {{tasks.fechaInicio}}</h3>
              <h3>Fecha de termino: {{tasks.fechaTermino}}</h3>
              <h3 *ngIf="tasks.estado.nombre?.length > 1">Estado: {{tasks.estado.descripcion}}</h3>
              <div id="red-circle" *ngIf="tasks.estado.id === 3"></div>
              <div id="yellow-circle" *ngIf="tasks.estado.id === 2"></div>
              <div id="green-circle" *ngIf="tasks.estado.id === 1"></div>
              <h3 *ngIf="tasks.justificacion?.length > 1"> Justificacion: {{tasks.justificacion}}</h3>
            </ion-card-content>
            <ion-card-content>
              <ion-card-title *ngIf="tasks.subtareas[0]?.id > 0">Subtareas asociadas:</ion-card-title>
              <ng-container *ngFor="let subtask of tasks.subtareas">
                <ion-card-subtitle>Nombre subtarea:{{subtask.nombre}}</ion-card-subtitle>
                <ion-card-subtitle>Descripcion:{{subtask.descripcion}}</ion-card-subtitle>
              </ng-container>
            </ion-card-content>
            <ion-button expand="fill" (click)="setOpen(true)" color="danger" size="small">Rechazar</ion-button>
            <ion-button expand="fill" (click)="openDetails(true)" color="primary" size="small">Subtareas
            </ion-button>
            <ion-button expand="fill" (click)="terminar()" color="success" size="small">Terminar</ion-button>
            <ion-button size="small">
              <ion-icon name="pencil-sharp"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <!-- modal para rechazar tareas -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="declineTask()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Ingresa tu justificacion</ion-label>
          <ion-input type="text" placeholder="Justificacion" [(ngModel)]="justificacion"></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- modal para ver subtareas -->
  <ion-modal [isOpen]="isModalDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Subtareas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openDetails(false)">Cerrar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="addSubtask()">Añadir</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Ingresa el nombre</ion-label>
          <ion-input type="text" placeholder="subtarea" [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingresa una descripcion</ion-label>
          <ion-input type="text" placeholder="subtarea" [(ngModel)]="descripcion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de inicio</ion-label>
          <ion-datetime [(ngModel)]="fechaInicio" [isDateEnabled]="isWeekday" value="{{ minDate | date: 'yyyy-MM-dd' }}"
            min="{{ minDate | date: 'yyyy-MM-dd' }}">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de termino</ion-label>
          <ion-datetime [(ngModel)]="fechaTermino" [isDateEnabled]="isWeekday"
            value="{{ minDate | date: 'yyyy-MM-dd' }}" min="{{ minDate | date: 'yyyy-MM-dd' }}">
          </ion-datetime>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>