<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>¡Bienvenido, {{user.nombre}}! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-modal-tarea></app-modal-tarea>
  <div *ngFor="let tasks of tasksUser">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{tasks.nombre}}</ion-card-title>
        <ion-card-subtitle>Descripción: {{tasks.descripcion}}</ion-card-subtitle>
        <ion-card-subtitle>Fecha creación: {{tasks.fechaCreacion}}</ion-card-subtitle>
        <ion-card-subtitle>Fecha inicio:{{tasks.fechaInicio}}</ion-card-subtitle>
        <ion-card-subtitle>Fecha termino: {{tasks.fechaTermino}}</ion-card-subtitle>
        <ion-card-subtitle>Usuario creador: {{tasks.usuarioCreador.email}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-button id="open-modal" expand="fill" color="danger" class="ion-margin">
        Rechazar
      </ion-button>
      <ion-button id="open-modal" expand="fill" color="primary" class="ion-margin">Ver detalles</ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Rechazar tarea</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="declineTask(tasks.id,tasks.usuarioCreador.id)" [strong]="true">Confirmar
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-label position="stacked">Justificacion</ion-label>
              <ion-input type="text" placeholder="Escribe tu comentario..." [(ngModel)]="justificacion"></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
  </div>
  <!-- <ion-col size="5">
      <ion-card *ngFor="let tasks of tasksUser" class="subcard">
        <ion-card class="ion-margin">
          <ion-card-header *ngFor="let subtasks of tasks.subtareas">
            <ion-card-title>{{subtasks.nombre}}</ion-card-title>
            <ion-card-subtitle>{{subtasks.descripcion}}</ion-card-subtitle>
            <ion-card-subtitle>Fecha creacion:{{subtasks.fechaCreacion}}</ion-card-subtitle>
            <ion-card-subtitle>Fecha de inicio:{{subtasks.fechaInicio}}</ion-card-subtitle>
            <ion-card-subtitle>Fecha de termino:{{subtasks.fechaTermino}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-card>
    </ion-col> -->
</ion-content>